AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=interop-sgsss-transfers-dev
S3_EVIDENCE_BUCKET=interop-sgsss-evidence-dev
SQS_DELIVERY_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/919968176010/interop-sgsss-delivery-dev
NODE_ENV=dev
FHIR_STRICT_VALIDATION=true
MODO_MANTENIMIENTO=false