AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=traslados
S3_EVIDENCE_BUCKET=interoperabilidad-evidencia-dev
SQS_DELIVERY_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789/cola-entrega-dev
NODE_ENV=dev
FHIR_STRICT_VALIDATION=true
MODO_MANTENIMIENTO=false